/* SITE HEADER */
.site-header {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-wrapper__logo {
  display: inline-block;
}

.header-wrapper__img {
  display: block;
  width: 139px;
  height: 20px;
}
.header-wrapper__ul {
  @include reset-list;
  display: flex;
  align-items: center;
}

.header-wrapper__li ~ .header-wrapper__li {
  margin-left: 30px;
}

.header-wrapper__link {
  @include reset-link;
  color: $color-text;
  transition: 300ms all;
}
.header-wrapper__link:hover{
  color:mediumpurple;
  transform: scale(1.2);
}
.header-wrapper__hamburger-img{
  width: 24px;
  height: 11px;
  display: block;
}
.header-wrapper__hamburger-button{
  border: none ;
  background-color:transparent;
  display: none;
}
// @include breakpoint-down (740px){
//   .header-wrapper__hamburger-button{
//    display: block;
//   }
//   .header-wrapper__nav{
//     display: none;
//   }
//   .site-button{
//     display: none;
//   }
//   .header-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 18px;
//     padding-bottom: 18px;
//   }
//   .header-wrapper__img {
//     display: block;
//     width: 100px;
//     height: 25px;
//     object-fit: contain;
//   }
//   .header-wrapper {
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
//   .header-wrapper__hamburger-img{
//     width: 22px;
//     height: 16px;
//   }
// }
// @include breakpoint-down (640px){
//   .header-wrapper__hamburger-button{
//    display: block;
//   }
//   .header-wrapper__nav{
//     display: none;
//   }
//   .site-button{
//     display: none;
//   }
//   .header-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
//   .header-wrapper__img {
//     display: block;
//     width: 100px;
//     height: 20px;
//     object-fit: contain;
//   }
//   .header-wrapper {
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
//   .header-wrapper__hamburger-img{
//     width: 18px;
//     height: 12px;
//   }
// }
// @include breakpoint-down (520px){
//   .header-wrapper__hamburger-button{
//    display: block;
//   }
//   .header-wrapper__nav{
//     display: none;
//   }
//   .site-button{
//     display: none;
//   }
//   .header-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
//   .header-wrapper__img {
//     display: block;
//     width: 85px;
//     height: 16px;
//     object-fit: contain;
//   }
//   .header-wrapper {
//     padding-top: 14px;
//     padding-bottom: 14px;
//   }
//   .header-wrapper__hamburger-img{
//     width: 16px;
//     height: 10px;
//   }
// }
// @include breakpoint-down (520px){
//   .header-wrapper__hamburger-button{
//    display: block;
//   }
//   .header-wrapper__nav{
//     display: none;
//   }
//   .site-button{
//     display: none;
//   }
//   .header-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 14px;
//     padding-bottom: 14px;
//   }
//   .header-wrapper__img {
//     display: block;
//     width: 85px;
//     height: 16px;
//     object-fit: contain;
//   }
//   .header-wrapper {
//     padding-top: 14px;
//     padding-bottom: 14px;
//   }
//   .header-wrapper__hamburger-img{
//     width: 16px;
//     height: 10px;
//   }
// }
// @include breakpoint-down (420px){
//   .header-wrapper__hamburger-button{
//    display: block;
//   }
//   .header-wrapper__nav{
//     display: none;
//   }
//   .site-button{
//     display: none;
//   }
//   .header-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding-top: 12px;
//     padding-bottom: 12px;
//   }
//   .header-wrapper__img {
//     display: block;
//     width: 85px;
//     height: 14px;
//     object-fit: contain;
//   }
//   .header-wrapper {
//     padding-top: 13px;
//     padding-bottom: 13px;
//   }
//   .header-wrapper__hamburger-img{
//     width: 16px;
//     height: 10px;
//   }
// }