/* LAST___SECTION */
.last-section__title{
font-weight: 100 ;
font-size: 40px;
line-height: 64px;
color: $color-text-dark;
}

.last-section__list{
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.last-section__item{
  width: 255px;
  background-color: #ffffff;  
  border: 5px;
  margin-bottom: 80px;
}
.last-section-article{
 margin: 20px 0 0 24px ;
 font-size: 10px;
 line-height: 18px;
 color: $color-text;
}
.last-list__title{
margin: 8px 0 0 24px;
font-weight: 100;
font-size: 16px;
line-height: 20px;
color:$color-text-dark;

}
.last-section__text{
  width: 207px;
 margin-left: 24px;
 font-size: 13px;
 line-height: 18px;
color: $color-text;

}